<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Timestamp Microservice</title>
</head>

<body>
  <h1>Timestamp Microservice</h1>
  <p>To use this service, include a natural date or unix timestamp at the end of the url.</p>
  <h3>Examples:</h3>
  <ul>
    <li>{{url}}/January 1, 2015</li>
    <li>{{url}}/1420092000</li>
  </ul>
</body>

</html>